[submodule "lvgl"]
	path = lvgl
	url = https://github.com/littlevgl/lvgl
[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/littlevgl/lv_drivers
[submodule "lv_examples"]
	path = lv_demos
	url = https://github.com/littlevgl/lv_examples
